img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 1.5em;
  text-transform: uppercase;
  text-align :center;
}
.titre{
  font-size:2.5em;
  font-family: 'Courier New', Courier, monospace;
}


.hautdepage{
  position: fixed;
  bottom: 4;
  right: 4;
  background:white;
  border-radius:10%;
	box-shadow:4px 4px 10px black;
  padding: 6px;
  opacity: 100%;
  text-decoration: none;
}
.hautdepage:hover{
  opacity: 80%;
}
.hautdepage:before{
  content: "\25b2";
  font-weight: bold;
  font-size: 20px;
}

.responsive{
  background-size: cover;
}
@media
  (max-width: 600px)
  {.responsive{
    width:100%
  }
}

.accordion {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: tan;
  color: black;   
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  }
  
  .active, .accordion:hover {
  background-color: rgb(238, 213, 182);
  margin-bottom: 10px;
  }
  
  .accordion:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  }
  
  .active:after {
  content: "\2212";
  }
  
  .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  font-size: large;
  text-align: center;
  }

